.color{
	background: #c8c8c8;
	height: 100px;
}
.color_1{
	background: #c8c8c8;
    height: 200px;
}
#makosha{
	font-weight: bold;
	font-size: 40px;
	color: #000;
	margin: 0 20px;
	text-decoration:none;
}
.circle{
	width: 50px;
	height: 50px;
	background: red;
	border-radius: 25px;
	border: 1px solid #000;
	position: absolute;
	left: -35px;
	top: -10px;
}
.request{
	padding: 8px 20px;
	background: green;
	width: 234px;
	font-size: 12px;
	position: relative;
	color: aliceblue;
	font-weight: bold;
	margin: 20px 25px;
}
#poisk{
	width: 90%;
	margin-top: 30px;
	border: 1px solid #bf6440;
	color: black;
	font-weight: bold;
}
#mail{
	margin: 0 10px;
    font-size: 17px;
}
h1{
	text-align: center;
}
.img_one{
	padding: 15px 5px;
}

.content_velux{
	border: 1px solid;
	font-weight: bold;
}
h2{
	font-weight: bold;
}
.katalog{
	font-size: 19px;
    margin: 0 20px;
}
li{
	list-style: none;
}
.zag{
	font-size: 20px;
	font-weight: bold;
}
.li_lia{
	font-size: 17px;
}
.si{
    margin: 0 20px;
}
.fot{
	background: #c8c8c8;
	text-align: center;
}
#re{
	margin: 14px;
}
@media only screen and (max-width: 768px){
	.katalog{
		font-size: 15px;
	}
}